<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>
<div class="container" style="margin-top: 5%;">

    <div class="container col d-flex justify-content-center mt-4" style="margin-top: 5%;">
        <div class="card" style="width:500px">
            <img class="card-img-top" src="/images/profileBg.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay text-center mt-4 mb-2">
                <h3 class="card-title mb-2" style="margin-top: 4%; margin-bottom: 5%;"><b>Something went wrong!</b></h3>
                <h5 class="card-text mb-2" style="margin-top: 5%; margin-bottom: 3%;">It seems like you go to Wrong path</h5>
                <div class="mt-4 mb-2" style="margin-top: 6%;">
                    <a href="/" class="btn btn-primary">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>