<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Site</title>
    <!--Bootstrap Link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--style sheet-->
    <link rel="stylesheet" type="text/css" href="/home.css">

</head>
<body>
<!--header-->
<header>

    <div class="imgw">
        <img class="imgs img-responsive" src="images/shop1.jpg" alt="shopping image">
    </div>

    <div class="heading" id="heading-animation">
        WELCOME TO WOMEN'S DRESS STORE
    </div>

    <div class="imgw">
        <img class="imgs img-responsive" src="images/shop2.jpg" alt="shopping img">
    </div>

</header>

<!--body-->
<div class="back">

    <!--navbar-->
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/showdresses">Show Dresses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact Us</a>
            </li>
        </ul>
    </nav>
    <!--Center Text-->
    <div class="slogan">
        <h1>The world’s largest online women's dress store, Brings You the Best Trends of the Season.</h1>
    </div>

</div>

<!--About Us-->
<div id="about-us">

    <div>
        <h1>About Us</h1>
        <p>This is an online shopping site for women's only. Here, we provide you the products available to our store.Dress store is the best online shopping site for all you fashionable women who never let style slip away. </p>
        <h3>THANK YOU FOR VISITING OUR WEBSITE!!</h3>
    </div>

    <div>
        <video class="about-us-video" src="videos/1.mp4" controls=""></video>
    </div>

</div>

<!--Contact Us-->
<footer id="contact-us">

    <div class="contact-us-img">
        <div>
            <h1>Contact Us</h1>
            <h2>We are here to help</h2>
            <p>Feel free to reach out to us at <a href="#">+91 8974562862</a> or <a href="#">womensdressstore@gmail.com</a></p>
        </div>
    </div>

    <div class="form-box">
        <form action="#" method="GET">
            NAME: <br> <input class="input-width" type="text" placeholder=" Full Name" required>
            <br><br>
            EMAIL ADDRESS: <br> <input class="input-width" type="email" placeholder="Email Address" required>
            <br><br>
            SUBJECT: <br> <input class="input-width" type="text" placeholder="Subject" required>
            <br><br>
            MESSAGE: <br> <textarea name="Write Message" class="input-width" cols="50" rows="5" placeholder="Write your problems"></textarea>
            <br><br>

            <input type="submit" class="btn btn-success" value="submit">

        </form>
    </div>
</footer>
</body>
</html>